In [1]:
# Import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

Question 1: Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
# Opening the required url as given in question.
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#creating the empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#scraping name from xpath
nvedio=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in nvedio:
    Name.append(i.text)         #appending the text in name
Name=Name[:30]

#scraping rank from xpath
rvedio=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rvedio:
    Rank.append(i.text)         #appending the text in rank
Rank=Rank[:30]

#scraping Artist from xpath
avedio=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in avedio:
    Artist.append(i.text)       #appending the text in artist
Artist=Artist[:30]

#scraping Upload date from xpath
uvedio=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in uvedio:
    Upload_date.append(i.text)  #appending the text in Upload date
Upload_date=Upload_date[:30]

#scraping Views from xpath
vvedio=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in vvedio:
    Views.append(i.text)        #appending the text in Views
Views=Views[:30]


time.sleep(4)
# creating the dataframe from the scraped data
df1 = pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Views(billions)":Views,"Upload_date":Upload_date})

df1

,Rank,Name,Artist,Views(billions),Upload_date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.81,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.47,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Bath Song""[32]",Cocomelon – Nursery Rhymes,4.16,"May 2, 2018"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[33]",Miroshka TV,4.16,"February 27, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.93,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.49,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
19,20.,"""Faded""[45]",Alan Walker,3.08,"December 3, 2015"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.05,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""[54]",Adele,2.85,"October 22, 2015"
29,30.,"""Axel F""[55]",Crazy Frog,2.84,"June 16, 2009"

Question 2: Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
# Opening the homepage of bcci.tv
driver.get('https://www.bcci.tv')

time.sleep(5)
#do click on International
driver.find_element_by_xpath('//ul[@class="navigation__list showMoreEnabled"]/li[1]/div[2]').click()
time.sleep(2)
#do click on Fixtures
driver.find_element_by_xpath('//ul[@class="navigation__list showMoreEnabled"]/li[1]/div[2]/div[1]/ul[1]/li[1]/a').click()

In [6]:
#creating the empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
url=[]

#scraping match_title from xpath
mcricket=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[1]')
for i in mcricket:
    Match_title.append(i.text)   #appending the text in match_title

#scraping series from xpath
scricket=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in scricket:
    Series.append(i.text)        #appending the text in series
    
#scraping place from xpath
pcricket=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in pcricket:
    Place.append(i.text)         #appending the text in place
    
# for scrapping the match url
for i in driver.find_elements_by_xpath("//div[@class='js-list']/a"):
        url.append(i.get_attribute("href"))
        
time.sleep(3)
# scrapping the required data from url
for i in url:
    driver.get(i)
    time.sleep(3)
    #for scrapping the Date
    try:
        dcricket=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        Date.append(dcricket.text)
    except NoSuchElementException:
        Date.append('-')
    
    #for scrapping the time
    try:
        tcricket=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span[1]")
        Time.append(tcricket.text)
    except NoSuchElementException:
        Time.append('-')

        
time.sleep(4)
# creating the dataframe from the scraped data
df2 = pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})

df2

,Match_title,Series,Place,Date,Time
0,TEST,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",-,-
1,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 13 July,14:30 IST
2,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 16 July,14:30 IST
3,ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 18 July,14:30 IST
4,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Wednesday 21 July,19:00 IST
5,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 23 July,19:00 IST
6,T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 25 July,19:00 IST
7,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
8,TEST,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,15:30 IST
9,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
10,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,15:30 IST
11,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

Question 3: Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [7]:
# Opening the homepage of guru99.com
driver.get('https://www.guru99.com/')

time.sleep(5)
#do click on selenium.
driver.find_element_by_xpath('//div[@class="row featured-boxes"]/div[1]/div/ul/li[3]').click()
time.sleep(5)
#do click on selenium exception handling tutorial.
driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody[1]/tr[34]/td[1]').click()

In [8]:
#creating the empty list
name=[]
description=[]

#scraping name from xpath
sn=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'.format(i))
for i in sn:
    name.append(i.text)        #appending the text in name
name=name[1:42:1]

#scraping description from xpath
sd=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'.format(i))
for i in sd:
    description.append(i.text) #appending the text in description
description=description[1:42:1]


time.sleep(4)
# creating the dataframe from the scraped data
df3 = pd.DataFrame({"Name":name,"Description":description})

df3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Question 4: Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
# Opening the homepage of statisticstimes.com
driver.get('http://statisticstimes.com/')

time.sleep(5)
# do click on Economy
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button').click()

time.sleep(5)
#do click on India
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()

time.sleep(5)
# do click on GDP of Indian state
driver.find_element_by_xpath('//div[@style="float:left;width:1150px;height:800px;background-color: white "]/div[2]/ul/li/a').click()

In [11]:
#creating the empty list
Rank=[]
State=[]
GSDP=[]
GSDP2=[]
Share=[]
GDP=[]

#scraping rank from xpath
rank=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)       #appending the text in Rank
    
#scraping state from xpath
state=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
for i in state:
    State.append(i.text)      #appending the text in state
    
#scraping GSDP 2019-2020 from xpath
gsdp=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
for i in gsdp:
    GSDP.append(i.text)       #appending the text in GSDP 2019-2020
    
#scraping GSDP 2018-2019 from xpath
gsdp2=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
for i in gsdp2:
    GSDP2.append(i.text)      #appending the text in GSDP 2018-2019
    
#scraping share from xpath
share=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
for i in share:
    Share.append(i.text)       #appending the text in share
    
#scraping GDP from xpath
gdp=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
for i in gdp:
    GDP.append(i.text)        #appending the text in GDP
    
time.sleep(4)
# creating the dataframe from the scraped data
df4 = pd.DataFrame({"Rank":Rank,"State":State,"GSDP":GSDP,"GSDP2":GSDP2,"share":Share,"GDP($billion)":GDP})

df4

   Rank                      State       GSDP      GSDP2   share GDP($billion)
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

Question 5: Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [13]:
# Opening the homepage of github.com
driver.get('https://github.com/')

time.sleep(5)
# do click on explore
driver.find_element_by_xpath('//nav[@class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0"]/ul/li[4]/details').click()
time.sleep(5)
# do click on trending
driver.find_element_by_xpath('//div[@class="dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]').click()

In [14]:
#creating the empty list
re_title=[]
r_description=[]
contributor=[]
language=[]
url=[]

#scraping title from xpath
title=driver.find_elements_by_xpath('//div[@class="position-relative container-lg p-responsive pt-6"]/div/div[2]/article/h1')
for i in title:
    re_title.append(i.text)     #appending the text in title
     

# for scraping the repositories url
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute("href"))
        

time.sleep(3)
# scrapping the required data from url
for i in url:
    driver.get(i)
    time.sleep(3)
    #for scrapping the description
    try:
        desc=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        r_description.append(desc.text)
    except NoSuchElementException:
        r_description.append('-')
        
    #for scrapping the contributors count
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributor.append(count.text)
    except:#handling no such element exception
        contributor.append('No details available')
        

    #for scrapping the language used
    l=[]
    languages=driver.find_elements_by_xpath("//li[@class='d-inline']")
    if languages:   
        for i in languages:
            a=str(i.text)
            b=a.split("\n",)
            l.append(b[0])
    else:
        l.append('No languages used')
    language.append(l)
    
time.sleep(4)
# creating the dataframe from the scraped data
df5 = pd.DataFrame({"re_title":re_title,"r_description":r_description,"contributor":contributor,
                   "language":language})

df5

,re_title,r_description,contributor,language
0,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,2,[Python]
1,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,20,"[Jupyter Notebook, Python, JavaScript, C++, HT..."
2,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,23,"[Java, GLSL]"
3,n8n-io / n8n,Free and open fair-code licensed node based Wo...,174,"[TypeScript, Vue, SCSS, JavaScript, Dockerfile..."
4,facebookresearch / AugLy,"A data augmentations library for audio, image,...",5,[Python]
5,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,4,"[Assembly, C, Brainfuck, Roff, Limbo, E, Other]"
6,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,3,"[Dart, Ruby, HTML, Swift, Other]"
7,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,No details available,"[Python, C, Java, Jupyter Notebook, C++, Shell..."
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",139,"[C++, C, Java, HTML, Python, Objective-C++, Ot..."
9,rustdesk / rustdesk,Yet another remote desktop software,8,"[Rust, HTML, CSS, Other]"
10,algorithm-visualizer / algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,23,"[JavaScript, SCSS, HTML, Other]"
11,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,141,[No languages used]
12,megaease / easegress,A Cloud Native traffic orchestration system,14,"[Go, Other]"
13,TheBobPony / getwindows11.tech,For the website,12,"[HTML, JavaScript, Ruby]"
14,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,110,"[Python, Shell]"
15,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,2,"[Python, Shell]"
16,programthink / opensource,【编程随想】收藏的开源项目清单,3,[No languages used]
17,facebookresearch / xcit,Official code Cross-Covariance Image Transform...,No details available,"[Python, Shell]"
18,githubdev03 / RDP,-,4,"[Batchfile, PowerShell]"
19,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,177,"[JavaScript, CSS, HTML, Other]"
20,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,57,"[Jupyter Notebook, Python, Other]"
21,v2fly / v2ray-core,A platform for building proxies to bypass netw...,104,"[Go, Other]"
22,nothings / stb,stb single-file public domain libraries for C/C++,174,"[C, C++]"
23,mltframework / shotcut,"cross-platform (Qt), open-source (GPLv3) video...",42,"[C++, QML, JavaScript, Shell, C, Prolog, Other]"
24,flutter / flutter,Flutter makes it easy and fast to build beauti...,874,"[Dart, Objective-C, Java, C++, Shell, CMake, O..."

Question 6: Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [15]:
# Opening the homepage of billboard.com
driver.get('https://www.billboard.com/')

time.sleep(5)
# do click on hot 100 option
driver.find_element_by_xpath('//nav[@class="header__subnav bg--light"]/ul/li[3]').click()

In [16]:
#creating the empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#scraping song name from xpath
nsong=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[1]')
for i in nsong:
    Song_name.append(i.text)    #appending the text in song name

#scraping Artist name from xpath
asong=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[2]')
for i in asong:
    Artist_name.append(i.text)   #appending the text in Artist name

#scraping Last week rank from xpath
lwsong=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lwsong:
    Last_week_rank.append(i.text) #appending the text in last week rank

#scraping Week on board from xpath
wbsong=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in wbsong:
    Weeks_on_board.append(i.text) #appending the text in week on board
    
#scraping Peak rank from xpath
psong=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in psong: 
    Peak_rank.append(i.text)      #appending the text in Peak rank
    

time.sleep(4)
# creating the dataframe from the scraped data
df6 = pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last_week_rank":Last_week_rank,
                   "Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})

df6

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

Question 7 : Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [17]:
# Opening the homepage of naukri.com
driver.get('https://www.naukri.com/')

In [18]:
# open recruiters page
url=driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a')
link=url.get_attribute("href")
driver.get(link)

time.sleep(5)
# write Data science on search bar
search_job= driver.find_element_by_xpath('//div[@class="sWrap lftBrd"]/div[2]/input')
search_job.send_keys("Data Science")

time.sleep(2)
# do click on search button
search_btn= driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [19]:
#creating the empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
url=[]

#scraping name from xpath
name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)           #appending the text in name
    
#scraping designation from xpath
designation=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)    #appending the text in designation
    
#scraping company from xpath
company=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)        #appending the text in company
    
#scraping skills from xpath
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills.append(i.text)         #appending the text in skills
    
# for scrapping urls of all listed recruiter
for i in driver.find_elements_by_xpath("//div[@class='outerRecSec']/div/div/div/p/a[1]"):
    url.append(i.get_attribute("href"))
    
time.sleep(3)
# scrapping the required data from url
for i in url:
    driver.get(i)
    time.sleep(3)
    #for scrapping the location
    try:
        location=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")
        Location.append(location.text)
    except NoSuchElementException:
        Location.append('-')   

        
time.sleep(4)
# creating the dataframe from the scraped data
df7 = pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,"Skills":Skills,"Location":Location})

df7

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

Question 8 : Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [20]:
# Opening the given website in above question.
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [21]:
#creating the empty list
Book=[]
Author=[]
Volumes=[]
Publisher=[]
Genre=[]

#scraping book from xpath
book=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in book:
    Book.append(i.text)       #appending the text in book

#scraping author from xpath
author=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in author:
    Author.append(i.text)     #appending the text in author
    
#scraping volumes from xpath
volume=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in volume:
    Volumes.append(i.text)     #appending the text in volumes
    
#scraping publisher from xpath
publisher=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)   #appending the text in publisher
    
#scraping genre from xpath
genre=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)       #appending the text in genre
    

time.sleep(4)
# creating the dataframe from the scraped data
df8 = pd.DataFrame({"Book":Book,"Author":Author,"Volumes":Volumes,"Publisher":Publisher,"Genre":Genre})

df8

,Book,Author,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 9 : Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [22]:
# Opening the given website in above question.
driver.get('https://www.imdb.com/list/ls095964455/')

In [23]:
#creating the empty list
Name=[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#scraping name from xpath
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)       #appending the text in name

#scraping year from xpath
year=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
for i in year:
    Year.append(i.text)       #appending the text in year
    
#scraping genre from xpath
genre=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')
for i in genre:
    Genre.append(i.text)      #appending the text in genre
    
#scraping run time from xpath
run=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')
for i in run:
    Run_time.append(i.text)    #appending the text in run time
    
#scraping ratings from xpath
rating=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div[1]/div/span[2]')
for i in rating:
    Ratings.append(i.text)     #appending the text in ratings
    
#scraping votes from xpath
voting=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
for i in voting:
    Votes.append(i.text)       #appending the text in votes
    
    
time.sleep(4)
# creating the dataframe from the scraped data
df9 = pd.DataFrame({"Name":Name,"Year":Year,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Votes":Votes})

df9

,Name,Year,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,825,358"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"865,389"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"875,245"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,956"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,355"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,602"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,117"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"168,070"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,924"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,777"

Question 10: Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [24]:
# Opening the given website on above question.
driver.get('https://archive.ics.uci.edu/')


time.sleep(5)
# do click on all dataset.
driver.find_element_by_xpath('//span[@class="whitetext"]/a/font/b').click()

In [25]:
#creating the empty list
name=[]
d_type=[]
Task=[]
Attribute_type=[]
instances=[]
No_attribute=[]
Year=[]
url=[]

#scraping votes from xpath
Name=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in Name:
    name.append(i.text)      #appending the text in votes

#scraping votes from xpath
year=driver.find_elements_by_xpath("//table[@cellpadding='5']/tbody//td[7]")
for i in year:
    Year.append(i.text)      #appending the text in votes
Year=Year[1:589:1]
Year

    
# for scraping url of all machine learning program list
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    url.append(i.get_attribute("href"))
        

time.sleep(3)
# scraping of all required data from the urls
for i in url:
    driver.get(i)
    time.sleep(3)
    #for scrapping the data type
    try:
        types=driver.find_element_by_xpath("//table[@cellpadding='6']/tbody/tr[1]/td[2]/p")
        d_type.append(types.text)
    except NoSuchElementException:
        d_type.append('-') 
        
    #for scrapping the number of instance
    try:
        inst=driver.find_element_by_xpath("//table[@cellpadding='6']/tbody/tr[1]/td[4]/p")
        instances.append(inst.text)
    except NoSuchElementException:
        instances.append('-')
        
    #for scrapping the attribute type
    try:
        Attribute=driver.find_element_by_xpath("//table[@cellpadding='6']/tbody/tr[2]/td[2]/p")
        Attribute_type.append(Attribute.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        
    #for scrapping the number of attribute
    try:
        number_att=driver.find_element_by_xpath("//table[@cellpadding='6']/tbody/tr[2]/td[4]/p")
        No_attribute.append(number_att.text)
    except NoSuchElementException:
        No_attribute.append('-')
        
    #for scrapping the Task
    try:
        task=driver.find_element_by_xpath("//table[@cellpadding='6']/tbody/tr[3]/td[2]/p")
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-') 
        

time.sleep(4)
# creating the dataframe from the scraped data
df10 = pd.DataFrame({"Dataset_name":name,"Year":Year,"datatype":d_type,"Task":Task,"Attributes_type":Attribute_type,
                    "No_of_instances":instances,"No_of_attributes":No_attribute})

df10

,Dataset_name,Year,datatype,Task,Attributes_type,No_of_instances,No_of_attributes
0,Abalone,1995,Multivariate,Classification,"Categorical, Integer, Real",4177,8
1,Adult,1996,Multivariate,Classification,"Categorical, Integer",48842,14
2,Annealing,,Multivariate,Classification,"Categorical, Integer, Real",798,38
3,Anonymous Microsoft Web Data,1998,N/A,Recommender-Systems,Categorical,37711,294
4,Arrhythmia,1998,Multivariate,Classification,"Categorical, Integer, Real",452,279
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,2020,Multivariate,Classification,N/A,12684,23
584,Gait Classification,2020,Multivariate,Classification,Real,48,321
585,Wikipedia Math Essentials,2021,Time-Series,Regression,Real,731,1068
586,Wikipedia Math Essentials,2021,Time-Series,Regression,Real,731,1068
587,Synchronous Machine Data Set,2021,Multivariate,Regression,Real,557,5