# Installing selenium and importing all important libraries

In [1]:
# Let's first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\priya\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\priya\anaconda3\lib\site-packages (from selenium) (1.25.8)

In [2]:
# Let's now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
# Let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

# Problem 1

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data on naukri portal.

In [5]:
url = 'https://www.naukri.com'
driver.get(url)
time.sleep(5)

In [6]:
# Finding element for job search bar
search_job= driver.find_element_by_id("qsb-keyword-sugg")

In [7]:
# Write on search bar
search_job.send_keys("Data Scientist")

In [8]:
# Finding element for job location bar and write on location bar
search_loc= driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [9]:
# Do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [10]:
# So lets extract all tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [11]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist']

In [12]:
# So lets extract all tags having companies name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [13]:
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names=company_names[:10]
company_names

['Inflexion Analytix Private Limited',
 'Wipro Limited',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India']

In [14]:
# So lets extract all tags having experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [15]:
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list=experience_list[:10]
experience_list

['0-3 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '4-11 Yrs']

In [16]:
# So lets extract all tags having location
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [17]:
location_list=[]
for i in locations_tags:
    location_list.append(i.text)
location_list=location_list[:10]
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [18]:
# Finding length of job_title, company_name, experience_list and location_list
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [19]:
# Creating Dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list

In [20]:
jobs

,title,company,experience_required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,Wipro Limited,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,1-3 Yrs,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ..."
3,Specialist I - Data Scientist,Philips India Limited,4-7 Yrs,Bangalore/Bengaluru
4,Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bangalore/Bengaluru
5,Data Scientist,Oracle India Pvt. Ltd.,6-10 Yrs,Bangalore/Bengaluru
6,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,5-8 Yrs,Bangalore/Bengaluru
7,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,5-8 Yrs,Bangalore/Bengaluru
8,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
9,Senior Data Scientist,GO-JEK India,4-11 Yrs,Bangalore/Bengaluru

# Problem 2

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data on naukri portal.

In [21]:
url = 'https://www.naukri.com'
driver.get(url)
time.sleep(5)

In [22]:
# Finding element for job search bar
search_job= driver.find_element_by_id("qsb-keyword-sugg")

In [23]:
# Write on search bar
search_job.send_keys("Data Scientist")

In [24]:
# Finding element for job location bar and write on location bar
search_loc= driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [25]:
# Do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [26]:
# So lets extract all tags having job titles
titles_tags2=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [27]:
job_titles2=[]
for i in titles_tags2:
    job_titles2.append(i.text)
job_titles2=job_titles2[:10]
job_titles2

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist']

In [28]:
# So lets extract all tags having company name
companies_tags2=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [29]:
company_names2=[]
for i in companies_tags2:
    company_names2.append(i.text)
company_names2=company_names2[:10]
company_names2

['Inflexion Analytix Private Limited',
 'Wipro Limited',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India']

In [30]:
# So lets extract all tags having location
locations_tags2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [31]:
location_list2=[]
for i in locations_tags2:
    location_list2.append(i.text)
location_list2=location_list2[:10]
location_list2

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [32]:
# Fetching URL
url=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    url.append(i.get_attribute("href"))
url=url[:10]
url

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16217626645701148&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-wipro-limited-kolkata-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-210521000038?src=jobsearchDesk&sid=16217626645701148&xp=2&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16217626645701148&xp=3&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16217626645701148&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16217626645701148&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16217626645701148&xp=6&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16217626645701148&xp=7&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16217626645701148&xp=8&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16217626645701148&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-4-to-11-years-190521500736?src=jobsearchDesk&sid=16217626645701148&xp=10&px=1']

In [33]:
# So lets extract all tags having job description
Job_description=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        Job_description.append(job_desc.text)
    except NoSuchElementException:
        Job_description.append('-')

In [34]:
Job_description

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nRole: Data Scientist\n\nRoles and Responsibilities\nSuitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.\n\nTechnical Skills Required:\nHands on with Python or R\nAnalytics using industry leading BI tools and technologies\nImplementation knowledge of supervised\\un-supervised machine learning algorithms\nGood statistical analysis skills for data pre-processing and data wrangling\nExperienced in using big data frameworks like Hadoop\nKnowledge of business intelligence tools or reporting tools\n\nData Preparation for Modeling\nMissing Data Imputation,Outlier Treatment\nScaling, Normalization, Standardization\nEncoding for Categorical Variables\nOversampling\\Undersampling for reducing class imbalance\n\nExperience in building solutions using Model Library\nFeature Selection\nTree-based Ensemble Models\nGradient\\Adaptive Boosted Trees\nHyper-parameter tuning\nBuilding Prediction mechanisms using methods like Logistic regression, voting classifier stacking etc\n\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nData ScienceMachine LearningPython\nLogistic RegressionData WranglingHadoopData AnalysisBig DataStatistical Analysis\nSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL',
 '-',
 '-',
 'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage\nRoleAnalytics Manager\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nRnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython',
 'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\n1. Job Title: Computational Design Lead Data Scientist\n\nResponsibility:\nTake-up Key creative tools of the creative platform for Advertisers, research and develop breakthrough CNN based deep learning algorithms to solve the problem unique in the industry and productionize the algorithms, measure the ad creative performance and enhance the algorithm to ease the Ad Designer job.\nDevelop the common AI platforms and frameworks to ease the experimentation of the Algorithms for creative Design.\nTo build ability to understand the advertisers intent and provide creative assistance every step of creating all types of adverts\nResponsible for intelligent identification of advertising creatives (pictures, videos) and related algorithms of content understanding.\nResponsible for Image Synthesis, Intelligent Layout, Style Transfer, and other image processing, computing and visual processing, to improve the aesthetic level of advertising creativity.\nResponsible for designing algorithms for suggesting how to intelligently crop and position an image for maximum effect, identify the optimal placement of text and copywriting.\nResponsible for the algorithm and model of dynamic matching of advertising program creativity and dynamic creation of advertising content\n\nRequirements:\nDeep knowledge of Computational Design\nExperience on Intelligent composition, including image cropping, smart layout, the Gold Ratio composition, visual extension.\nExperience computer vision models, including image/video recognition and content understanding.\nExperience in algorithms such as image and video segmentation, separation, synthesis, and intelligent layout with engineering platform implementation capability.\nStrong Knowledge Algorithms such as Image segmentation, object detection, Image processing (filtering, noise removal, histogram thresholding, etc.), object tracking, image transformation (affine transform, dewarping), keypoint detection/description, etc (and experience in using Computer vision Libraries)\nStrong Knowledge in CNN, R-CNN, GAN, LSTM, GRU, Multimodal feature Learning, ASR, NLU, NLG, Copywriting and KG will be an added advantage\nStrong logic/probability thinking ability and be good at analyzing, summarizing, describing, communicating, and solving problems\nWorking experience in related online advertising products/creative platform is preferred\nWorking experience in Computer Vision (CV) to enhance user artistic creativity while creating creatives/adverts is preferred\nAbility to identify trends of advertising creative platform.\n\n\nRoleData Analyst\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nObject DetectionR-CNNCnnAlgorithmsLstmGANArtificial IntelligenceImage ProcessingData ScientistComputer VisionComputational DesignDeep Learning',

In [35]:
# Finding length of job_title, company_name, experience_list and location_list
print(len(job_titles),len(company_names),len(Job_description),len(location_list))

10 10 10 10

In [36]:
# Creating Dataframe
job1=pd.DataFrame({})
job1['title']=job_titles
job1['company']=company_names
job1['description']=Job_description
job1['location']=location_list

In [37]:
job1

,title,company,description,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,Wipro Limited,Job description\nRole: Data Scientist\n\nRoles...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,-,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ..."
3,Specialist I - Data Scientist,Philips India Limited,Job description\nResponsibilities and Key Resu...,Bangalore/Bengaluru
4,Data Scientist,IBM India Pvt. Limited,-,Bangalore/Bengaluru
5,Data Scientist,Oracle India Pvt. Ltd.,-,Bangalore/Bengaluru
6,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...,Bangalore/Bengaluru
7,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...,Bangalore/Bengaluru
8,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f...","Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
9,Senior Data Scientist,GO-JEK India,Job description\nAbout the Role\nFasten your h...,Bangalore/Bengaluru

# Problem 3

In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results on naukri portal.

You have to scrape the job-title, job-location, company_name, experience_required.

The location filter to be used is “Delhi/NCR”

The salary filter to be used is “3-6” lakhs

In [38]:
url = 'https://www.naukri.com'
driver.get(url)
time.sleep(5)

In [39]:
# Finding elements for job search bar and writing the required job.
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [40]:
# Do click on xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [41]:
# Filtering location to Delhi/NCR
loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc.click()

In [42]:
# Filtering salary to 3-6 Lakhs
salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary.click()

In [43]:
# So lets extract all tags having job titles
titles_tag3=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [44]:
job_titles3=[]
for i in titles_tag3:
    job_titles3.append(i.text)
job_titles3=job_titles3[:10]
job_titles3

['Data Scientist / Data Analyst -Business Analyst',
 'Business Analyst- Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon']

In [45]:
# So lets extract all tags having company name
companies_tags3=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [46]:
company_names3=[]
for i in companies_tags3:
    company_names3.append(i.text)
company_names3=company_names3[:10]
company_names3

['Inflexion Analytix Private Limited',
 'Wipro',
 'Ravgins International Pvt. Ltd.',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'IBM India Pvt. Limited',
 'Blitz Jobs',
 'Country Veggie',
 'Zenatix Solutions Private Limited']

In [47]:
# So lets extract all tags having location
locations_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [48]:
location_list3=[]
for i in locations_tags3:
    location_list3.append(i.text)
location_list3=location_list3[:10]
location_list3

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Gurgaon/Gurugram']

In [49]:
# So lets extract all tags having experience
experience_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [50]:
experience_list3=[]
for i in experience_tags3:
    experience_list3.append(i.text)
experience_list3=experience_list3[:10]
experience_list3

['0-3 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '5-10 Yrs']

In [51]:
# Finding length of job_title, company_name, experience_list and location_list
print(len(job_titles),len(company_names),len(experience_list3),len(location_list))

10 10 10 10

In [52]:
#Creating Dataframe
job2=pd.DataFrame({})
job2['title']=job_titles
job2['company']=company_names
job2['experience']=experience_list3
job2['location']=location_list

In [53]:
job2

,title,company,experience,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,Wipro Limited,2-5 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,3-5 Yrs,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ..."
3,Specialist I - Data Scientist,Philips India Limited,3-6 Yrs,Bangalore/Bengaluru
4,Data Scientist,IBM India Pvt. Limited,3-6 Yrs,Bangalore/Bengaluru
5,Data Scientist,Oracle India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
6,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,4-9 Yrs,Bangalore/Bengaluru
7,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,3-5 Yrs,Bangalore/Bengaluru
8,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,1-3 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
9,Senior Data Scientist,GO-JEK India,5-10 Yrs,Bangalore/Bengaluru

# Problem4

Write a python program to scrape data for first 10 job on glassdoor portal, results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [54]:
url2='https://www.glassdoor.co.in/index.htm'
driver.get(url2)

In [57]:
# Finding element for job search bar
search2job= driver.find_element_by_id("sc.keyword")

In [58]:
# Writing on search bar
search2job.send_keys("Data Scientist")

In [59]:
# Finding element for job location bar
search2loc=driver.find_element_by_id("sc.location")

In [60]:
# Writing on location bar
search2loc.send_keys("Noida")

In [61]:
# Do click using xpath function
search2btn= driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search2btn.click()

In [62]:
# So lets extract all tags having job title
titles_tag4=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

In [63]:
job_titles4=[]
for i in titles_tag4:
    job_titles4.append(i.text)
job_titles4=job_titles4[:10]
job_titles4

['Applied Materials Inc.',
 'Wells Fargo',
 'CoStrategix',
 'Truecaller',
 'Koch Business Solutions India',
 'Virtusa',
 'People Interactive Pvt Ltd.',
 'Walmart Global Tech India',
 'Adobe',
 'Hewlett Packard Enterprise']

In [64]:
# So lets extract all tags having post time
post_ago=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [65]:
post_time=[]
for i in post_ago:
    post_time.append(i.text)
post_time=post_time[:10]
post_time

['9d', '24d', '15d', '4d', '', '5d', '12d', '15d', '1d', '9d']

In [66]:
post=driver.find_elements_by_xpath("//div[@class='d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4']")

In [67]:
# So lets extract all tags having rating
rating=[]
for i in post:
    i.click()
    time.sleep(3)
    try:
        ratings=driver.find_element_by_xpath("//div[@class='mr-sm css-ey2fjr e1pr2f4f2']")
        rating.append(ratings.text)
    except NoSuchElementException:
        rating.append('-')

In [68]:
rating=rating[:10]
rating

['4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4.3']

In [69]:
# Finding length of job_title, post time and rating
print(len(job_titles4),len(post_time),len(rating))

10 10 10

In [70]:
#Create Dataframe
job3=pd.DataFrame({})
job3['title']=job_titles4
job3['upload_time']=post_time
job3['rating']=rating

In [71]:
job3

                           title upload_time rating
0         Applied Materials Inc.          9d    4.3
1                    Wells Fargo         24d    4.3
2                    CoStrategix         15d    4.3
3                     Truecaller          4d    4.3
4  Koch Business Solutions India                4.3
5                        Virtusa          5d    4.3
6    People Interactive Pvt Ltd.         12d    4.3
7      Walmart Global Tech India         15d    4.3
8                          Adobe          1d    4.3
9     Hewlett Packard Enterprise          9d    4.3

# Problem 5

Write a python program to scrape the salary data for Data Scientist designation in Noida location on glassdoor portal.

You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [380]:
url3='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url3)

In [381]:
# Finding element for job search bar
search3job= driver.find_element_by_id("KeywordSearch")

In [382]:
# Writing on search bar
search3job.send_keys("Data Scientist")

In [383]:
# Finding element for job location bar
search3loc=driver.find_element_by_id("LocationSearch")

In [384]:
# Writing on location bar
search3loc.send_keys("Noida")

In [385]:
# Do click using xpath function
search3btn= driver.find_element_by_id("HeroSearchButton")
search3btn.click()

In [386]:
# So lets extract all tags having company name
company=driver.find_elements_by_xpath("//p[@class='m-0 ']")

In [387]:
company_name=[]
for i in company:
    company_name.append(i.text)
company_name=company_name[:10]
company_name

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [388]:
# So lets extract all tags having number of salary
salary=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

In [389]:
salary_num=[]
for i in salary:
    salary_num.append(i.text)
salary_num=salary_num[:10]
salary_num

['16 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries']

In [390]:
# So lets extract all tags having average salary
average=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [391]:
salary_avg=[]
for i in average:
    salary_avg.append(i.text.replace('\n',''))
salary_avg=salary_avg[:10]
salary_avg

['₹ 6,11,228/yr',
 '₹ 11,46,533/yr',
 '₹ 8,97,795/yr',
 '₹ 7,38,057/yr',
 '₹ 12,39,781/yr',
 '₹ 13,36,142/yr',
 '₹ 8,15,192/yr',
 '₹ 11,35,221/yr',
 '₹ 11,44,243/yr',
 '₹ 14,13,288/yr']

In [392]:
# So lets extract all tags having minimum salary
minmum=driver.find_elements_by_xpath("//span[@class=''][1]")

In [393]:
salary_min=[]
for i in minmum:
    salary_min.append(i.text)
salary_min

['',
 'Very High\nConfidence',
 'Updated 18 May 2021',
 '',
 '₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K',
 '₹620K',
 '₹792K',
 '₹807K',
 '₹405K',
 '₹971K',
 '₹400K',
 '₹817K',
 '₹12K',
 '₹86K',
 '₹772K']

In [394]:
salary_min=salary_min[4:14:]
salary_min

['₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K']

In [395]:
# So lets extract all tags having maximum salary
maximum=driver.find_elements_by_xpath("//span[@class=''][2]")

In [396]:
salary_max=[]
for i in maximum:
    salary_max.append(i.text)
salary_max=salary_max[:10]
salary_max

['₹1,095K',
 '₹2,213K',
 '₹2,730K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K']

In [397]:
# Finding length of company name, number of salary, average salary, minimum salary, maximum salary
print(len(company_name),len(salary_num),len(salary_avg),len(salary_min),len(salary_max))

10 10 10 10 10

In [398]:
# Create Dataframe
job4=pd.DataFrame({})
job4['company']=company_name
job4['salary_num']=salary_num
job4['salary_avg']=salary_avg
job4['salary_min']=salary_min
job4['salary_max']=salary_max

In [399]:
job4

,company,salary_num,salary_avg,salary_min,salary_max
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228/yr",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288/yr","₹1,014K","₹2,149K"

# Problem 6

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [72]:
url4='https://www.flipkart.com/'
driver.get(url4)

In [73]:
# Locating search bar
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")

In [74]:
# Writing o search bar
search4job.send_keys("Sunglasses")

In [76]:
# do click using xpath function
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [79]:
# Fetching URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [80]:
print(len(urls))

38

In [81]:
brand_list=[]
product_desc=[]
price_list=[]
discount_list=[]

In [82]:
# So lets extract all required tags
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list.append(brand.text)
    except NoSuchElementException:
        brand_list.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list.append(price.text)
    except NoSuchElementException:
        price_list.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list.append(discount.text)
    except NoSuchElementException:
        discount_list.append('-')

In [83]:
# Finding length of brand list, product description, price list, discount list of page 1
print(len(brand_list),len(product_desc),len(price_list),len(discount_list))

38 38 38 38

In [85]:
# clicking on flipkart tag on above, then find search bar, write on search bar and do click
driver.find_element_by_xpath("//img[@class='_2xm1JU']").click()
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")
search4job.send_keys("Sunglasses")
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [86]:
# Do click on next button
btn= driver.find_element_by_xpath("//a[@class='_1LKTO3']")
btn.click()

In [87]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [88]:
print(len(urls))

40

In [89]:
brand_list2=[]
product_desc2=[]
price_list2=[]
discount_list2=[]

In [90]:
# So lets extract all required tags
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list2.append(brand.text)
    except NoSuchElementException:
        brand_list2.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc2.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc2.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list2.append(price.text)
    except NoSuchElementException:
        price_list2.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list2.append(discount.text)
    except NoSuchElementException:
        discount_list2.append('-')

In [91]:
# Finding length of brand list, product description, price list, discount list of page 2
print(len(brand_list2),len(product_desc2),len(price_list2),len(discount_list2))

40 40 40 40

In [93]:
# clicking on flipkart tag on above, then find search bar, write on search bar and do click
driver.find_element_by_xpath("//img[@class='_2xm1JU']").click()
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")
search4job.send_keys("Sunglasses")
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [94]:
# Do click on next button
btn= driver.find_element_by_xpath("//a[@class='_1LKTO3']")
btn.click()

In [95]:
# Do click on next button again
btn2= driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
btn2.click()

In [96]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [97]:
print(len(urls))

40

In [99]:
brand_list3=[]
product_desc3=[]
price_list3=[]
discount_list3=[]

In [100]:
# So lets extract all required tags
for i in urls[:22]:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list3.append(brand.text)
    except NoSuchElementException:
        brand_list3.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc3.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc3.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list3.append(price.text)
    except NoSuchElementException:
        price_list3.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list3.append(discount.text)
    except NoSuchElementException:
        discount_list3.append('-')

In [101]:
# Finding length of brand list, product description, price list, discount list of page 3
print(len(brand_list3),len(product_desc3),len(price_list3),len(discount_list3))

22 22 22 22

In [102]:
# Merging page 1 2 3 data.
brand=brand_list+brand_list2+brand_list3
product_desc=product_desc+product_desc2+product_desc3
price=price_list+price_list2+price_list3
discount=discount_list+discount_list2+discount_list3

In [103]:
# Finding length of brand list, product description, price list, discount list
print(len(brand),len(product_desc),len(price),len(discount))

100 100 100 100

In [104]:
# Create Dataframe
job5=pd.DataFrame({})
job5['brand']=brand
job5['product_desc']=product_desc
job5['price']=price
job5['discount']=discount

In [105]:
job5

,brand,product_desc,price,discount
0,NuVew,SizeThis product is sold as Medium by the Bran...,₹195,75% off
1,Fastrack,SizeThis product is sold as Free Size by the B...,₹570,28% off
2,ROZZETTA CRAFT,SizeThis product is sold as Free Size by the B...,₹499,77% off
3,Fastrack,SizeThis product is sold as Free Size by the B...,₹733,18% off
4,ROZZETTA CRAFT,SizeThis product is sold as Free Size by the B...,₹404,79% off
...,...,...,...,...
95,Flizz,SizeThis product is sold as Free Size by the B...,₹279,81% off
96,ROZZETTA CRAFT,SizeThis product is sold as Large by the Brand...,₹499,75% off
97,AISLIN,SizeThis product is sold as Large by the Brand...,"₹1,100",72% off
98,hipe,SizeThis product is sold as Free Size by the B...,₹219,83% off
99,ROYAL SON,SizeThis product is sold as Medium by the Bran...,₹499,66% off

# Problem 7

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

You have to scrape three attributes:
1. Rating
2. Review_summary
3. Full review

You have to scrape this data for first 100 reviews.

In [106]:
url5='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url5)

In [107]:
# do click to more reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [108]:
# So lets extract all tags having star rating, shot_review, full_review of 1st page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating=[]
for i in rating:
    star_rating.append(i.text)
star_rating

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review=[]
for i in sreview:
    short_review.append(i.text)
short_review


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review=[]
for i in freview:
    full_review.append(i.text.replace('\n',''))
    
print(len(star_rating),len(short_review),len(full_review))

10 10 10

In [110]:
# do click on next page.
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [111]:
# So lets extract all tags having star rating, shot_review, full_review of 2nd page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating2=[]
for i in rating:
    star_rating2.append(i.text)
star_rating2

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review2=[]
for i in sreview:
    short_review2.append(i.text)
short_review2


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review2=[]
for i in freview:
    full_review2.append(i.text.replace('\n',''))
    
print(len(star_rating2),len(short_review2),len(full_review2))

10 10 10

In [113]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [114]:
# So lets extract all tags having star rating, shot_review, full_review of 3rd page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating3=[]
for i in rating:
    star_rating3.append(i.text)
star_rating3

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review3=[]
for i in sreview:
    short_review3.append(i.text)
short_review3


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review3=[]
for i in freview:
    full_review3.append(i.text.replace('\n',''))
    
print(len(star_rating3),len(short_review3),len(full_review3))

10 10 10

In [115]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [116]:
# So lets extract all tags having star rating, shot_review, full_review of 4th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating4=[]
for i in rating:
    star_rating4.append(i.text)
star_rating4

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review4=[]
for i in sreview:
    short_review4.append(i.text)
short_review4


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review4=[]
for i in freview:
    full_review4.append(i.text.replace('\n',''))
    
print(len(star_rating4),len(short_review4),len(full_review4))

10 10 10

In [117]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [118]:
# So lets extract all tags having star rating, shot_review, full_review of 5th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating5=[]
for i in rating:
    star_rating5.append(i.text)
star_rating5

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review5=[]
for i in sreview:
    short_review5.append(i.text)
short_review5


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review5=[]
for i in freview:
    full_review5.append(i.text.replace('\n',''))
    
print(len(star_rating5),len(short_review5),len(full_review5))

10 10 10

In [119]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [120]:
# So lets extract all tags having star rating, shot_review, full_review of 6th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating6=[]
for i in rating:
    star_rating6.append(i.text)
star_rating6


sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review6=[]
for i in sreview:
    short_review6.append(i.text)
short_review6


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review6=[]
for i in freview:
    full_review6.append(i.text.replace('\n',''))
    
print(len(star_rating6),len(short_review6),len(full_review6))

10 10 10

In [121]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [122]:
# So lets extract all tags having star rating, shot_review, full_review of 7th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating7=[]
for i in rating:
    star_rating7.append(i.text)
star_rating7

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review7=[]
for i in sreview:
    short_review7.append(i.text)
short_review7


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review7=[]
for i in freview:
    full_review7.append(i.text.replace('\n',''))
    
print(len(star_rating7),len(short_review7),len(full_review7))

10 10 10

In [123]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [124]:
# So lets extract all tags having star rating, shot_review, full_review of 8th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating8=[]
for i in rating:
    star_rating8.append(i.text)
star_rating8

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review8=[]
for i in sreview:
    short_review8.append(i.text)
short_review8


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review8=[]
for i in freview:
    full_review8.append(i.text.replace('\n',''))
    
print(len(star_rating8),len(short_review8),len(full_review8))

10 10 10

In [125]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [126]:
# So lets extract all tags having star rating, shot_review, full_review of 9th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating9=[]
for i in rating:
    star_rating9.append(i.text)
star_rating9

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review9=[]
for i in sreview:
    short_review9.append(i.text)
short_review9


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review9=[]
for i in freview:
    full_review9.append(i.text.replace('\n',''))
    
print(len(star_rating9),len(short_review9),len(full_review9))

10 10 10

In [127]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()

In [128]:
# So lets extract all tags having star rating, shot_review, full_review of 10th page
rating=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
star_rating10=[]
for i in rating:
    star_rating10.append(i.text)
star_rating10

sreview=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
short_review10=[]
for i in sreview:
    short_review10.append(i.text)
short_review10


freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review10=[]
for i in freview:
    full_review10.append(i.text.replace('\n',''))
    
print(len(star_rating10),len(short_review10),len(full_review10))

10 10 10

In [129]:
# Merging 1 to 10 page data into one variable
star_rating=star_rating+star_rating2+star_rating3+star_rating4+star_rating5+star_rating6+star_rating7+star_rating8+star_rating9+star_rating10
short_review=short_review+short_review2+short_review3+short_review4+short_review5+short_review6+short_review7+short_review8+short_review9+short_review10
full_review=full_review+full_review2+full_review3+full_review4+full_review5+full_review6+full_review7+full_review8+full_review9+full_review10

In [130]:
# Finding length of star_rating, short_review, full_review.
print(len(star_rating),len(short_review),len(full_review))

100 100 100

In [131]:
# Creating Dataframe
job6=pd.DataFrame({})
job6['rating']=star_rating
job6['short_review']=short_review
job6['full_review']=full_review

In [132]:
job6

,rating,short_review,full_review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
96,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
97,5,Wonderful,Nice value for money good and best price I pho...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,4,Value-for-money,As usual a great product from Apple. but the l...

# Problem 8

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [4]:
url4='https://www.flipkart.com/'
driver.get(url4)

In [5]:
#Finding element for job search bar
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")

In [6]:
# Write on search bar
search4job.send_keys("Sneakers")

In [8]:
#do click using xpath function
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [9]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [10]:
print(len(urls))

30

In [11]:
brand_list=[]
product_desc=[]
price_list=[]
discount_list=[]

In [12]:
# So lets extract all required tags
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list.append(brand.text)
    except NoSuchElementException:
        brand_list.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc.append('-')
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list.append(price.text)
    except NoSuchElementException:
        price_list.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list.append(discount.text)
    except NoSuchElementException:
        discount_list.append('-')

In [13]:
# Finding length of brand list, product description, price list, discount list of page 1
print(len(brand_list),len(product_desc),len(price_list),len(discount_list))

30 30 30 30

In [15]:
# clicking on flipkart tag on above, then find search bar, write on search bar and do click
driver.find_element_by_xpath("//img[@class='_2xm1JU']").click()
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")
search4job.send_keys("Sneakers")
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [16]:
# Do click on next button
btn= driver.find_element_by_xpath("//a[@class='_1LKTO3']")
btn.click()

In [17]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [18]:
print(len(urls))

32

In [19]:
brand_list2=[]
product_desc2=[]
price_list2=[]
discount_list2=[]

In [20]:
# So lets extract all required tags
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list2.append(brand.text)
    except NoSuchElementException:
        brand_list2.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc2.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc2.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list2.append(price.text)
    except NoSuchElementException:
        price_list2.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list2.append(discount.text)
    except NoSuchElementException:
        discount_list2.append('-')

In [21]:
# Finding length of brand list, product description, price list, discount list of page 2
print(len(brand_list2),len(product_desc2),len(price_list2),len(discount_list2))

32 32 32 32

In [22]:
# clicking on flipkart tag on above, then find search bar, write on search bar and do click
driver.find_element_by_xpath("//img[@class='_2xm1JU']").click()
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")
search4job.send_keys("Sneakers")
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [23]:
# Do click on next button
btn= driver.find_element_by_xpath("//a[@class='_1LKTO3']")
btn.click()

In [24]:
# Do click on next button again
btn2= driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
btn2.click()

In [25]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [26]:
print(len(urls))

31

In [27]:
brand_list3=[]
product_desc3=[]
price_list3=[]
discount_list3=[]

In [28]:
# So lets extract all required tags
for i in urls[:35]:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list3.append(brand.text)
    except NoSuchElementException:
        brand_list3.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc3.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc3.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list3.append(price.text)
    except NoSuchElementException:
        price_list3.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list3.append(discount.text)
    except NoSuchElementException:
        discount_list3.append('-')

In [29]:
# Finding length of brand list, product description, price list, discount list of page 3
print(len(brand_list3),len(product_desc3),len(price_list3),len(discount_list3))

31 31 31 31

In [33]:
# clicking on flipkart tag on above, then find search bar, write on search bar and do click
driver.find_element_by_xpath("//img[@class='_2xm1JU']").click()
search4job= driver.find_element_by_xpath("//input[@class='_3704LK']")
search4job.send_keys("Sneakers")
search4btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search4btn.click()

In [34]:
# Do click on next button
btn2= driver.find_element_by_xpath("//a[@class='_1LKTO3']")
btn2.click()

In [35]:
# Do click on next button again
btn2= driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
btn2.click()

In [36]:
# Do click on next button again
btn3= driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
btn3.click()

In [37]:
# Fetching on URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    urls.append(i.get_attribute("href"))

In [38]:
print(len(urls))

29

In [39]:
brand_list4=[]
product_desc4=[]
price_list4=[]
discount_list4=[]

In [40]:
# So lets extract all required tags
for i in urls[:7]:
    driver.get(i)
    time.sleep(3)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_list4.append(brand.text)
    except NoSuchElementException:
        brand_list4.append('-')
    
    
    try:
        driver.find_element_by_xpath("//div[@class='col col-11-12 _2cLjiM']").click()
        desc=driver.find_element_by_xpath("//div[@class='X3BRps _13swYk']")
        product_desc4.append(desc.text.replace('\n',''))
    except NoSuchElementException:
        product_desc4.append('-')
    
    
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price_list4.append(price.text)
    except NoSuchElementException:
        price_list4.append('-')  
    
    
    try:
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount_list4.append(discount.text)
    except NoSuchElementException:
        discount_list4.append('-')

In [41]:
# Finding length of brand list, product description, price list, discount list of page 4
print(len(brand_list4),len(product_desc4),len(price_list4),len(discount_list4))

7 7 7 7

In [42]:
# Merging page 1 2 3 data.
brand=brand_list+brand_list2+brand_list3+brand_list4
product=product_desc+product_desc2+product_desc3+product_desc4
price=price_list+price_list2+price_list3+price_list4
discount=discount_list+discount_list2+discount_list3+discount_list4

In [43]:
# Finding length of brand list, product description, price list, discount list
print(len(brand),len(product),len(price),len(discount))

100 100 100 100

In [44]:
# Create dataframe
job7=pd.DataFrame({})
job7['brand']=brand
job7['product_desc']=product
job7['price']=price
job7['discount']=discount

In [45]:
job7

,brand,product_desc,price,discount
0,BRUTON,ColorBlueOuter materialMeshModel nameMen Sport...,₹299,76% off
1,World Wear Footwear,"ColorBlack, BlueOuter materialCanvasModel name...",₹273,45% off
2,Robbie jones,ColorWhiteInner materialCanvasOuter materialSy...,₹379,62% off
3,Numenzo,ColorWhiteInner materialCanvasOuter materialMe...,₹399,60% off
4,Robbie jones,"ColorWhite, BlackInner materialNapaOuter mater...",₹474,52% off
...,...,...,...,...
95,asics,-,"₹3,499",50% off
96,PUMA,ColorBlueOuter materialMeshModel nameTrenzo II...,"₹1,256",58% off
97,SPARX,ColorBlackInner materialFabricOuter materialCa...,"₹1,000",23% off
98,PUMA,ColorNavyOuter materialCanvasModel nameIcon ID...,"₹1,220",63% off
99,bacca bucci,ColorBrownOuter materialSuedeModel nameMen's U...,₹998,60% off

# Problem 9

Go to the link - https://www.myntra.com/shoes

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [5]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [8]:
# Open the link having filter price and color applied 
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A7649.0_15099.0_7649.0%20TO%2015099.0%2C6649.0_13099.0_6649.0%20TO%2013099.0%2C6612.0_13075.0_6612.0%20TO%2013075.0')

In [13]:
# So lets extract all tag having brand name of first page
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [14]:
shoe_brand=[]
for i in brand:
    shoe_brand.append(i.text)
print(len(shoe_brand))

50

In [15]:
# So lets extract all tag having description of first page
description=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [16]:
short_desc=[]
for i in description:
    short_desc.append(i.text)
print(len(short_desc))

50

In [22]:
# So lets extract all tag having price of first page
price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [24]:
shoe_price=[]
for i in price:
    shoe_price.append(i.text)
print(len(shoe_price))

50

In [25]:
#Click next button to go on next page
next_btn=driver.find_element_by_xpath("//a[@rel='next']")
next_btn.click()

In [26]:
# So lets extract all tag having brand name of second page
brand1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoe_brand1=[]
for i in brand1:
    shoe_brand1.append(i.text)
print(len(shoe_brand1))

# So lets extract all tag having description of second page
description1=driver.find_elements_by_xpath("//h4[@class='product-product']")
short_desc1=[]
for i in description1:
    short_desc1.append(i.text)
print(len(short_desc1))

# So lets extract all tag having price of second page
price1=driver.find_elements_by_xpath("//div[@class='product-price']")
shoe_price1=[]
for i in price1:
    shoe_price1.append(i.text)
print(len(shoe_price1))

50
50
50

In [27]:
# Merging 1st and 2nd page data
brand=shoe_brand+shoe_brand1
description=short_desc+short_desc1
price=shoe_price+shoe_price1

In [28]:
# Finding length of brand, description and price
print(len(brand),len(description),len(price))

100 100 100

In [29]:
# Create dataframe
job8=pd.DataFrame({})
job8['brand']=brand
job8['description']=description
job8['price']=price

In [30]:
job8

,brand,description,price
0,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
1,Nike,Women REACT ESCAPE Running,Rs. 6636Rs. 8295(20% OFF)
2,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
3,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(Rs. 3599 OFF)
4,Nike,Men JORDAN DELTA Basketball,Rs. 12495
...,...,...,...
95,Geox,Men Leather Formal Slip-Ons,Rs. 11242Rs. 14990(25% OFF)
96,Nike,Men REACT MILER 2 Running,Rs. 9770Rs. 11495(15% OFF)
97,Ruosh,Men Solid Leather Formal Monks,Rs. 6990
98,Ruosh,Men Solid Leather Formal Slip-Ons,Rs. 6990
99,Ruosh,Men Solid Leather Formal Oxfords,Rs. 13490

# Problem 10

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [121]:
url6='https://www.amazon.in/'
driver.get(url6)

In [122]:
# Finding element for job search bar
search_bar=driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys("Laptop")

In [123]:
#do click using xpath function
btn=driver.find_element_by_id("nav-search-submit-button")
btn.click()

In [124]:
# Filtering into Intel core i7.
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [125]:
# So lets extract all tag having titles
title=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [126]:
laptop_title=[]
for i in title:
    laptop_title.append(i.text)
laptop_title=laptop_title[0:5]

In [127]:
print(len(laptop_title))

5

In [128]:
# So lets extract all tags having price.
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [129]:
laptop_price=[]
for i in price:
    laptop_price.append(i.text)
laptop_price=laptop_price[0:5]

In [130]:
# Fetching URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute("href"))
urls=urls[0:5]

In [131]:
rating=[]

In [132]:
# So lets extract all tags having ratings.
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        star=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating.append(star.text)
    except NoSuchElementException:
        rating.append('-')

In [133]:
rating

['4.4 out of 5',
 '4.6 out of 5',
 '2.9 out of 5',
 '4.4 out of 5',
 '3.5 out of 5']

In [134]:
# do click on clear button in filter to remove previous applied filter
cost=driver.find_element_by_id("nav-search-submit-button")
cost.click()

In [135]:
# Filtering into Intel core i9.
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [136]:
# So lets extract all tags having titles.
title2=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [137]:
laptop_title2=[]
for i in title2:
    laptop_title2.append(i.text)
laptop_title2=laptop_title2[0:5]

In [138]:
print(len(laptop_title2))

5

In [139]:
# So lets extract all tags having price.
price2=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [140]:
laptop_price2=[]
for i in price2:
    laptop_price2.append(i.text)
laptop_price2=laptop_price2[0:5]

In [141]:
print(len(laptop_price2))

5

In [142]:
# Fetching URL
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute("href"))
urls=urls[0:5]
urls

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A038310339RQD17Y8YFCH&url=%2FDell-9570-15-6-inch-i9-8950HK-Integrated%2Fdp%2FB08C5FMBLB%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1621711433%26refinements%3Dp_n_feature_thirteen_browse-bin%253A16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1621711433&id=1126954408028054&widgetName=sp_atf',
 'https://www.amazon.in/ASUS-Zephyrus-i9-10980HK-RTX-2080-SUPER-Max-Q-GX550LXS-HF168TS/dp/B08PFBB6RG/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1621711433&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1621711433&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Lenovo-Legion-Windows-Graphics-81YU006HIN/dp/B08GG9RZJC/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1621711433&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Dell-9570-15-6-inch-i9-8950HK-Integrated/dp/B08C5FMBLB/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1621711433&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-5']

In [143]:
rating2=[]

In [144]:
# So lets extract all tags having ratings.
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        star=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating2.append(star.text)
    except NoSuchElementException:
        rating2.append('-')

In [145]:
rating2

['2.4 out of 5', '-', '3.8 out of 5', '3.7 out of 5', '2.4 out of 5']

In [146]:
# Merging list 1 2 of title, price and rating. 
title=laptop_title+laptop_title2
price=laptop_price+laptop_price2
rating=rating+rating2

In [147]:
# Finding length of title, price, rating.
print(len(title),len(price),len(rating))

10 10 10

In [148]:
# Create dataframe
job9=pd.DataFrame({})
job9['title']=title
job9['rating']=rating
job9['price']=price

In [149]:
job9

                                               title        rating     price
0  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  4.4 out of 5  1,07,790
1  ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...  4.6 out of 5  1,49,990
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  2.9 out of 5    47,050
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    49,999
4  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...  3.5 out of 5    93,410
5  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2.4 out of 5  2,48,790
6  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...             -  2,66,990
7  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  3.8 out of 5  2,99,325
8  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  3.7 out of 5  2,62,990
9  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2.4 out of 5  2,48,790